*{
    margin: 0;
    padding: 0;
    color: #51260e;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}

/* Definições Header*/

header{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    border-bottom: 3px double #51260e;
}
#header-flexpai{
    /* background-color: aqua; */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 95vw;
    height: auto;
}
#header-esquerda{
    width: 75%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
#logo{
    /* background-color: aqua; */
    border-right: 3px double #51260e;
    display: flex;
    width: 220px;
    align-items: center;
    margin:10px 0;
}
#logo-img1{
    width: 55px;
}
#menu-header{
    /* background-color: aqua; */
    display: flex; 
    flex-flow: row wrap;
}
#menu-header p{
    font-size: 20px;
    margin: 0 10px;
}
.login{
    /* background-color: aqua; */
    border-left: 3px double #51260e;
    padding: 4.5px 0;
}
.login button{
    border: 3px double #51260e;
    background-color: #ffffffff;
    font: bold 21px serif;
    margin: 2px 0px;
    padding: 7px;
}
#botao-criar{
    border: none;
    background-color: #ffffffff;
    font: bold 21px serif;
    margin: 2px 0px;
    padding: 7px;
}

/* Definições responsividade Header*/

@media screen and (min-device-width:439px) and (max-device-width:995px){

    #header-esquerda{
        width: 50%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
    #menu-header{
        display: none; 
        flex-flow: row wrap;
    }
}

@media screen and (min-device-width:386px) and (max-device-width:438px){

    #header-esquerda{
        width: 50%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
    #logo{
        border-right: 0px double #51260e;
        display: flex;
        width: 90%;
        align-items: center;
        margin:10px 0;
    }
    #logo-img2{
        width: 70%;
    }
    #logo-img1{
        width: 30%;
    }
    #menu-header{
        display: none; 
        flex-flow: row wrap;
    }
    .login{
        /* background-color: aqua; */
        border-left: 3px double #51260e;
        padding: 4.5px 0;
    }
    .login button{
        border: 3px double #51260e;
        background-color: #ffffffff;
        font: bold 18px serif;
        margin: 2px 0px;
        padding: 7px;
    }
    #botao-criar{
        border: none;
        background-color: #ffffffff;
        font: bold 18px serif;
        margin: 2px 0px;
        padding: 7px;
    }
}
@media screen and (min-device-width:320px) and (max-device-width:385px){

    #header-esquerda{
        width: 50%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
    #logo{
        border-right: 0px double #51260e;
        display: flex;
        width: 90%;
        align-items: center;
        margin:10px 0;
    }
    #logo-img2{
        width: 70%;
    }
    #logo-img1{
        width: 30%;
    }
    #menu-header{
        display: none; 
        flex-flow: row wrap;
    }
    .login{
        border-left: 3px double #51260e;
        padding: 4.5px 20px;
    }
    .login button{
        border: 3px double #51260e;
        background-color: #ffffffff;
        font: bold 18px serif;
        margin: 2px 0px;
        padding: 7px;
    }
    #botao-criar{
        display: none;
        border: none;
        background-color: #ffffffff;
        font: bold 18px serif;
        margin: 2px 0px;
        padding: 7px;
    }
}

/* Definições da Main */

#container-chamadas{
    background-color: #ffffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

}
#fundo1{
    background-color: #f57f3f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100vw;
}

/* Definições chamada 1 */

#chamada1{
    width: 50%;
    height: 20vh;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;   
}
#chamada1 h1{
    margin: 10px 0;
    font-size: 32px;
    font-weight: bold;
}
#chamada1 h2{
    margin: 10px 0;
    font-size: 21px;
    font-weight: lighter;
}
#pesquisa-endereco{
    /* background-color: aqua; */
    width: 65%;
    padding-bottom: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#pesquisa-endereco input{
    width: 80%;
    padding: 10px;
    border: 3px double ;
}
#pesquisa-endereco button{
    border: 3px double #51260e;
    background-color: #ffffffff;
    font: bold 18px serif;
    padding: 10px;
}

/* Definições Chamada2 */

#chamada2{
    background-color: #ffffffff;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    min-height: 50vh;    
    column-gap: 10px;          
}
#container-produtos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    width: 70vw;
}
.card-produtos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 5px #b6d048;
    text-align: center;
    width: 20vw;
    background-color: #fec703;
}
.card-produtos:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.3);
    transform: scale(1.1);
    transition: 0.2s;
}
.img-produtos{
    width: 100%;
}

.card-produtos p{
    margin: 20px 0;
}
#container-mercados{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
}
.card-mercado{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    border: 3px double #51260e;
    text-align: center;
    width: 20%;
    padding: 10px;
    margin: 20px;
    transition: 0.8s linear;
}
.card-mercado:hover{
    box-shadow: 0px 0px 0px 15px #51260e;
}
.texto-mercado{
    margin: 0 10px;
}
.img-mercado{
    width: 20%;
    
}

/* Definições Chamada 3*/

#chamada3{
    background-color: #ffffffff;
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#cards-grandes{
    width: 75%;
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}
#card-grande1{
    background-color: tomato;
    padding-left: 15px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 40%;
    box-shadow: 2px 2px 5px darkgrey;
}
#card-grande1 img{
    width: 40%; 
    margin-left: 20%;   
    margin-right: 10%;   
}
#card-grande1 button{
    border: 3px double #51260e;
    background-color: inherit;
    font: bold 21px serif;
    width: max-content;
    margin: 15px 0px;
    padding: 7px;
}
#card-grande2{
    background-color: rgb(114, 255, 71);
    padding-left: 15px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 40%;
    box-shadow: 2px 2px 5px darkgrey;
}
#card-grande2 img{
    width: 50%; 
    margin-left: 20%;   
    margin-right: 10%;
}
#card-grande2 button{
    border: 3px double #51260e;
    background-color: inherit;
    font: bold 21px serif;
    margin: 15px 0px;
    padding: 7px;
}
.img-card{
    /* background-color: #fa9e60; */
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
#cards-pequenos{
    width: 75%;
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    border-bottom: 3px double #51260e;
}
.card-pequeno{
    /* background-color: aqua; */
    width: 20%;
}
.card-pequeno img{
    width: 100%;
}
.card-pequeno p{
    margin: 10px 0;
    font-size: 21px;
}
.card-pequeno:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

/* Responsividade Container Chamadas*/

@media screen and (min-device-width:1750px) and (max-device-width:2560px){
    #menu-header p{
        font-size: 26px;
    }
    #chamada1 h1{
        font-size: 41px;
    }
    #chamada1 h2{
        font-size: 25px;
    }
    #pesquisa-endereco input{
        font-size: 21px;
    }
    #card-grande1 button{
        font: bold 31px serif;
        margin: 25px 0px;
    }
    #card-grande2 button{
        font: bold 31px serif;
        margin: 25px 0px;
    }
    .card-pequeno p{
        font-size: 31px;
    }
}

@media screen and (min-device-width:320px) and (max-device-width:425px){
    #chamada1{
        width: 85%;
    }
    #pesquisa-endereco{
        width: 85%;
    }
    #card-grande1{
        padding-top:10px;
        padding-right:15px;
        align-items: center;
    }
    #card-grande1{
        font-size: 15px;
    }
    #card-grande2{
        padding-left: 0px;
        align-items: center;
    }
    #card-grande2{
        font-size: 15px;
    }
    .img-card{
        justify-content: center;
    }
    .img-card img{
        display: none;
    }
    .card-pequeno p{
        margin: 5px 0;
        font-size: 15px;
    }
}

@media screen and (min-device-width:300px) and (max-device-width:320px){
    #card-grande1{
        font-size: 12px;
    }
    #card-grande2{
        font-size: 12px;
    }
    .card-pequeno p{
        margin: 5px 0;
        font-size: 15px;
    }
}

/* Responsividade Chamada 2 */

@media screen and (min-device-width : 320px) and (max-device-width : 480px){
    
    .card-produtos p{
        font-size: 0.8rem;
    }   
    #container-mercados{ 
        display: grid; 
        grid-template-columns: repeat(2, 50%);        
        gap: 10px;        
        margin: 0 20px;
        padding: 0 10px;       
    }       
    .card-mercado{
        width: 120px;
        padding: 5px;
        margin: 10px;
    }
    .texto-mercado h3{       
        font-size: 0.8rem;
    }
    .texto-mercado p{
        font-size: 0.6rem;
    }
    .img-mercado{
        width: 50%;
    }
    .filhos{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    section{
        height: 60vh;
    }
}

/* Definições Section e Footer */

section{
    display: flex;       
    columns: repeat(3);    
    column-gap: 20px;
    margin: 20px;
    height: 40vh;
    text-align: center;  
    border: 20px; 
}
.colunas-section{
    display:flex;
    flex-flow: row wrap;
    text-align: center;
    width: 90vw;
    justify-content: center;      
}
.filhos{
    text-align: center;
}
.icones img{
    width: 20px;
}
section h3{
    width: 30vw;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}
section p{
    margin-bottom: 20px;
}
footer{  
    border-top: 3px double #51260e;  
    padding: 15px 10px;
    display: flex;  
    align-items: center; 
    /* background-color: aqua;  */   
}
.logo{
    align-items: flex-end;
    margin: 5px;
}
.logo img{
    width: 150px;   
}
.divP{
    margin: 5px;  
}