*{
    margin: 0;
    padding: 0;
}

.filhos{
    text-align: center;
    
}

.icones img{
    width: 20px;
}

section{
    display: flex;       
    columns: repeat(3);    
    column-gap: 20px;
    margin: 20px;
    height: 80vh;
    text-align: center;  
    border: 20px;
    
}
section h3{
    width: 30vw;
    margin-bottom: 20px;
    margin-top: 20px;
}
.colunas-section{
    display:flex;
    flex-flow: row wrap;
    text-align: center;
    width: 90vw;
    justify-content: center;  

    
}
section p{
    margin-bottom: 20px;
}

footer{    
    padding: 10px;
    display: flex;  
    /* background-color: aqua;  */
    
    
}

.logo img{
    width: 50px;   

}
.logo{
    /* width: 10vw;     */
    /* align-self: flex-start; */
    align-items: flex-end;
    margin: 5px;
}
.divP{
    /* width: 40vw; */
    margin: 5px;
    
}
